.header {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 25px;
}
.topbar {
  height: 60px;
  border-bottom: 1px solid #e9ebeb;
  width: 100%;
  display: flex;
  align-items: center;
}
.topbar svg {
  width: 160px;
}
.restaurant-infos {
  display: flex;
  flex-direction: row;
  padding: 30px 0;
  margin: 0 auto;
}
.infos-texts {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.infos-cover img {
  width: 350px;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
}
